*~
*.a
.build/
.build_cc_asan
.build_cc_cov
.build_cc_debug
.build_cc_main
.build_ld_asan
.build_ld_cov
.build_ld_debug
.build_ld_main
.build_objcc_asan
.build_objcc_cov
.build_objcc_debug
.build_objcc_main
config.h
config.mk
*.core
*.css
*.dll
.DS_Store
*.exe
*.gcno
*.html
httpd/kc3_httpd
httpd/kc3_httpd_asan
httpd/kc3_httpd_cov
httpd/kc3_httpd_debug
ikc3/ikc3
ikc3/ikc3_asan
ikc3/ikc3_cov
ikc3/ikc3_debug
/kc3-*/
/kc3-*.tar.gz
kc3c/kc3c
kc3c/kc3c_asan
kc3c/kc3c_cov
kc3c/kc3c_debug
kc3s/kc3s
kc3s/kc3s_asan
kc3s/kc3s_cov
kc3s/kc3s_debug
*.la
lib/kc3/0.1/ekc3.so
lib/kc3/0.1/http.so
libkc3_window/cairo/quartz/build
libkc3_window/cairo/quartz/demo/demo.xcodeproj/project.xcworkspace/xcuserdata
libkc3_window/cairo/quartz/demo/kc3_window_cairo_quartz_demo
libkc3_window/cairo/quartz/demo/kc3_window_cairo_quartz_demo_asan
libkc3_window/cairo/quartz/demo/kc3_window_cairo_quartz_demo_cov
libkc3_window/cairo/quartz/demo/kc3_window_cairo_quartz_demo_debug
libkc3_window/cairo/quartz/demo/kc3_window_cairo_quartz_demo.app/Contents/MacOS
libkc3_window/cairo/quartz/demo/kc3_window_cairo_quartz_demo.app/Contents/Frameworks
libkc3_window/cairo/quartz/demo/kc3_window_cairo_quartz_demo.app/Contents/fonts
libkc3_window/cairo/quartz/demo/kc3_window_cairo_quartz_demo.app/Contents/img
libkc3_window/cairo/quartz/demo/kc3_window_cairo_quartz_demo.app/Contents/lib
libkc3_window/cairo/quartz/demo/kc3_window_cairo_quartz_demo_asan.app/Contents/MacOS
libkc3_window/cairo/quartz/demo/kc3_window_cairo_quartz_demo_asan.app/Contents/Frameworks
libkc3_window/cairo/quartz/demo/kc3_window_cairo_quartz_demo_asan.app/Contents/fonts
libkc3_window/cairo/quartz/demo/kc3_window_cairo_quartz_demo_asan.app/Contents/img
libkc3_window/cairo/quartz/demo/kc3_window_cairo_quartz_demo_asan.app/Contents/lib
libkc3_window/cairo/quartz/demo/kc3_window_cairo_quartz_demo_cov.app/Contents/MacOS
libkc3_window/cairo/quartz/demo/kc3_window_cairo_quartz_demo_cov.app/Contents/Frameworks
libkc3_window/cairo/quartz/demo/kc3_window_cairo_quartz_demo_cov.app/Contents/fonts
libkc3_window/cairo/quartz/demo/kc3_window_cairo_quartz_demo_cov.app/Contents/img
libkc3_window/cairo/quartz/demo/kc3_window_cairo_quartz_demo_cov.app/Contents/lib
libkc3_window/cairo/quartz/demo/kc3_window_cairo_quartz_demo_debug.app/Contents/MacOS
libkc3_window/cairo/quartz/demo/kc3_window_cairo_quartz_demo_debug.app/Contents/Frameworks
libkc3_window/cairo/quartz/demo/kc3_window_cairo_quartz_demo_debug.app/Contents/fonts
libkc3_window/cairo/quartz/demo/kc3_window_cairo_quartz_demo_debug.app/Contents/img
libkc3_window/cairo/quartz/demo/kc3_window_cairo_quartz_demo_debug.app/Contents/lib
libkc3_window/cairo/xcb/demo/kc3_window_cairo_xcb_demo
libkc3_window/cairo/xcb/demo/kc3_window_cairo_xcb_demo_asan
libkc3_window/cairo/xcb/demo/kc3_window_cairo_xcb_demo_cov
libkc3_window/cairo/xcb/demo/kc3_window_cairo_xcb_demo_debug
libkc3_window/sdl2/demo/kc3_window_sdl2_demo
libkc3_window/sdl2/demo/kc3_window_sdl2_demo_asan
libkc3_window/sdl2/demo/kc3_window_sdl2_demo_cov
libkc3_window/sdl2/demo/kc3_window_sdl2_demo_debug
libkc3_window/sdl2/demo/macos/kc3_window_sdl2_demo.app/
libkc3_window/sdl2/demo/macos/kc3_window_sdl2_demo_asan.app/
libkc3_window/sdl2/demo/macos/kc3_window_sdl2_demo_cov.app/
libkc3_window/sdl2/demo/macos/kc3_window_sdl2_demo_debug.app/
.libs/
*.lo
macos/kc3-v*
*.o
release/
.test
.test_ko
.test_ok
test/ekc3/*.diff
test/ekc3/*.err
test/ekc3/*.out
test/ekc3/*.ret
test/facts_test_dump_file.facts
test/facts_test_log_add.facts
test/facts_test_log_remove.facts
test/facts_test_open_file.1.facts
test/facts_test_open_file.3.facts
test/facts_test_save.facts
test/http/*.diff
test/http/*.err
test/http/*.out
test/http/*.ret
test/ikc3/.ikc3_history
test/ikc3/.gdb_history
test/ikc3/*.diff
test/ikc3/*.err
test/ikc3/*.out
test/ikc3/*.ret
test/libkc3_test
test/libkc3_test_asan
test/libkc3_test_cov
test/libkc3_test_debug
*.tmp
ucd2c/ucd2c
win32/kc3*
