[submodule "fonts"]
	path = fonts
	url = https://git.kmx.io/kc3-lang/fonts.git
	branch = master
[submodule "libtommath"]
	path = libtommath
	url = https://git.kmx.io/kc3-lang/libtommath.git
	branch = v1.2
[submodule "linenoise"]
	path = linenoise
	url = https://git.kmx.io/kc3-lang/linenoise.git
        branch = master
[submodule "smtp"]
	path = smtp
	url = https://git.kmx.io/kc3-lang/smtp.git
	branch = master
[submodule "ucd2c"]
	path = ucd2c
	url = https://git.kmx.io/kc3-lang/ucd2c.git
[submodule "image/avir"]
	path = image/avir
	url = https://git.kmx.io/kc3-lang/avir.git
