*~
*.a
android/egl/demo/app/build/
android/egl/demo/app/src/main/assets/
android/egl/demo/app/src/main/jni/obj
bank/
.build/
/build/
build_c_asan
build_c_cov
build_c_debug
build_c_main
build_cxx_asan
build_cxx_cov
build_cxx_debug
build_cxx_main
build_lib_asan
build_lib_cov
build_lib_debug
build_lib_main
build_objc_asan
build_objc_cov
build_objc_debug
build_objc_main
build_prog_asan
build_prog_cov
build_prog_debug
build_prog_main
config.mk
config.sh
.config_*
configure.mk
configure.sh
*.core
*.css
current_test
.cxx
/debian/
*.dll
*.dmg
.DS_Store
*.dylib
ekc3/embed
*.exe
*.facts.bin.facts
fs/fuse/mount_kc3fs
fs/fuse/mount_kc3fs_asan
fs/fuse/mount_kc3fs_cov
fs/fuse/mount_kc3fs_debug
*.gcda
*.gcno
.gradle
*.html
httpd.log
httpd/kc3_httpd
httpd/kc3_httpd_asan
httpd/kc3_httpd_cov
httpd/kc3_httpd_debug
httpd/fx/log/*.log
httpd/fx/static/*.mp4
.idea
ikc3/ikc3
ikc3/ikc3_asan
ikc3/ikc3_cov
ikc3/ikc3_debug
/kc3-*/
/kc3-*.tar.gz
kc3c/kc3c
kc3c/kc3c_asan
kc3c/kc3c_cov
kc3c/kc3c_debug
kc3s/kc3s
kc3s/kc3s_asan
kc3s/kc3s_cov
kc3s/kc3s_debug
kpkg/kpkg
kpkg/kpkg_asan
kpkg/kpkg_cov
kpkg/kpkg_debug
*.log
macos/kc3-v*
/misc/fact_w
/misc/http_request
/misc/http_response
/misc/limits
/misc/test_f80
/msys2/clang64/kc3-*
node_modules/
*.o
out/
release/
*.so
*.so.*
.test
.test_ko
.test_ok
test/*/*.bin
test/*/*.diff
test/*/*.err
test/*/*.out
test/*/*.ret
test/facts_test_dump_file.facts
test/facts_test_log_add.facts
test/facts_test_log_remove.facts
test/facts_test_open_file.1.facts
test/facts_test_open_file.3.facts
test/facts_test_save.facts
test/ikc3/.ikc3_history
test/kc3.dump
test/libkc3_test
test/libkc3_test_asan
test/libkc3_test_cov
test/libkc3_test_debug
test/.*.kc3m
test/wget/*/
*.tmp
ucd2c/ucd2c
win32/kc3*
window/cairo/quartz/build
window/cairo/quartz/demo/demo.xcodeproj/project.xcworkspace/xcuserdata
window/cairo/quartz/demo/kc3_window_cairo_quartz_demo
window/cairo/quartz/demo/kc3_window_cairo_quartz_demo_asan
window/cairo/quartz/demo/kc3_window_cairo_quartz_demo_cov
window/cairo/quartz/demo/kc3_window_cairo_quartz_demo_debug
window/cairo/quartz/demo/kc3_window_cairo_quartz_demo.app
window/cairo/quartz/demo/kc3_window_cairo_quartz_demo_asan.app
window/cairo/quartz/demo/kc3_window_cairo_quartz_demo_cov.app
window/cairo/quartz/demo/kc3_window_cairo_quartz_demo_debug.app
window/cairo/xcb/demo/kc3_window_cairo_xcb_demo
window/cairo/xcb/demo/kc3_window_cairo_xcb_demo_asan
window/cairo/xcb/demo/kc3_window_cairo_xcb_demo_cov
window/cairo/xcb/demo/kc3_window_cairo_xcb_demo_debug
window/egl/android/project/.gradle/
window/egl/android/project/app/.cxx/
window/egl/android/project/app/build/
window/egl/drm/demo/kc3_window_egl_drm_demo
window/egl/drm/demo/kc3_window_egl_drm_demo_asan
window/egl/drm/demo/kc3_window_egl_drm_demo_cov
window/egl/drm/demo/kc3_window_egl_drm_demo_debug
window/egl/xcb/demo/kc3_window_egl_xcb_demo
window/egl/xcb/demo/kc3_window_egl_xcb_demo_asan
window/egl/xcb/demo/kc3_window_egl_xcb_demo_cov
window/egl/xcb/demo/kc3_window_egl_xcb_demo_debug
window/egl/xcb/demo/macos/kc3_window_egl_xcb_demo.app/Contents/fonts
window/egl/xcb/demo/macos/kc3_window_egl_xcb_demo.app/Contents/Frameworks
window/egl/xcb/demo/macos/kc3_window_egl_xcb_demo.app/Contents/img
window/egl/xcb/demo/macos/kc3_window_egl_xcb_demo.app/Contents/lib
window/egl/xcb/demo/macos/kc3_window_egl_xcb_demo.app/Contents/MacOS/kc3_window_egl_xcb_demo
window/egl/xcb/demo/macos/kc3_window_egl_xcb_demo_debug.app/Contents/fonts
window/egl/xcb/demo/macos/kc3_window_egl_xcb_demo_debug.app/Contents/Frameworks
window/egl/xcb/demo/macos/kc3_window_egl_xcb_demo_debug.app/Contents/img
window/egl/xcb/demo/macos/kc3_window_egl_xcb_demo_debug.app/Contents/lib
window/egl/xcb/demo/macos/kc3_window_egl_xcb_demo_debug.app/Contents/MacOS/kc3_window_egl_xcb_demo_debug
window/sdl2/demo/kc3_window_sdl2_demo
window/sdl2/demo/kc3_window_sdl2_demo_asan
window/sdl2/demo/kc3_window_sdl2_demo_cov
window/sdl2/demo/kc3_window_sdl2_demo_debug
window/sdl2/demo/macos/kc3_window_sdl2_demo.app/
window/sdl2/demo/macos/kc3_window_sdl2_demo_asan.app/
window/sdl2/demo/macos/kc3_window_sdl2_demo_cov.app/
window/sdl2/demo/macos/kc3_window_sdl2_demo_debug.app/
www/
