*.a
c3-*/
c3-*.tar.gz
c3c/c3c
c3s/c3s
config.mk
*.core
*.css
*.gcno
*.html
ic3/ic3
ic3/ic3.asan
ic3/ic3.cov
ic3/ic3.debug
*.la
.libs/
*.lo
*.o
test/*.facts
test/ic3/*.diff
test/ic3/*.err
test/ic3/*.out
test/ic3/*.ret
test/libc3_test
test/libc3_test.asan
test/libc3_test.cov
test/libc3_test.debug
*.tmp
ucd2c/ucd2c
