@import "./kmx_colors.scss";
$primary: #242124;
$danger: $kmx_orange;
$dark: #242124;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
$font-family-sans-serif: "computer_modern", sans-serif;
$font-family-monospace: "courier_new", "Courier New", monospace;
@import "./computer_modern.scss";
@import "./courier_new.scss";
$code-font-size: $font-size-base * 1.1;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./fontawesome-5.15.4-free.scss";
@import "./fontawesome-5.15.4-free-v4-shims.scss";
@import "./fontawesome-5.15.4-free-v4-font-face.scss";

// @import "../node_modules/highlight.js/scss/default.scss";
@import "../node_modules/highlight.js/scss/github.scss";

@import "./kc3.scss";
@import "./flash.scss";
@import "./footer.scss";
@import "./pixel.scss";

// page

div.page {
    padding-left: 0;
    padding-top: 3rem;
}
/* reset */
pre {
    overflow: visible;
    code { overflow-x: visible; }
    code.hljs { overflow-x: visible; }
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    div.container {
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
    }
    font-family: computer_modern;
    font-size: 1.3em;
}
input {
    width: 90%;
}

.content {
    margin: 0;
    padding: 0 2rem 0 1rem;
    max-width: 80rem;
}

a {
    text-decoration: none;
    color: var(--bs-primary);
}
.bg-dark a {
    color: $gray-400;
}
.bg-gray {
    background: #eef;
}
pre.wrap {
    word-break: break-all;
    white-space: pre-wrap;
}

/* navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 0.3rem;
    z-index: 1000;
    & > .container-fluid {
        align-items: baseline;
    }
}
.navbar-brand, .navbar-link, .navbar-text {
    display: inline-block;
    font-size: 1.3rem;
}
@media only screen and (min-width: 992px) {
    .navbar-brand {
        padding-top: 0.5rem;
    }
}
.navbar-link, .navbar-text {
    padding: 0.5rem 1rem 0 0;
    &.active {
        text-decoration: underline;
    }
}
.doc-logo, .doc-logo-lg, .doc-logo-light, .doc-logo-light-lg {
    & > span {
        display: inline-block;
        margin: 0 0.3em;
    }
    display: inline-block;
    padding: 0.1em 0.5rem 0 0;
    margin: 0;
    color: $gray-200;
}
.doc-logo, .doc-logo-lg {
    &:hover {
        color: #fff;
    }
}
.doc-logo-light, .doc-logo-light-lg {
    color: #000;
    &:hover {
        color: #000;
    }
}
.doc-logo-lg, .doc-logo-light-lg {
    font-size: 4em;
}
/* nav2 */
nav.navbar.nav2 {
    background: #555;
    font-size: 1.2rem;
    color: #fff;
    padding: 0;
    .doc-logo {
        padding: 0;
    }
    .navbar-brand {
        padding: 0;
    }
    a {
        color: #fff;
    }
}

/* misc */
.avatar-lg {
    float: left;
    margin: 0 0.5em 0.5em 0;
}
.commit-avatar {
    float: left;
    margin-right: 0.5em;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
/* user */
.btn-danger, .btn-danger:hover {
    color: #fff;
}
img.qrcode {
    width: 50%;
    min-width: 190px;
    max-width: 512px;
    margin: auto;
    display: block;
}

li.list-group-item {
    border: none;
}

.invalid-feedback {
    display: inherit;
}
h1 {
    margin-top: 1rem;
}
h1,h2,h3,h4,h5,h6 {
    a {
        text-decoration: none;
        color: #103;
    }
}
.break-all {
    word-break: break-all;
}

.left-col {
    top: 3em;
    bottom: 0;
    left: 0;
    overflow: scroll;
    padding-left: 0.75rem;
    ul {
        overflow: visible;
        list-style: none;
        padding-left: 0.5rem;
    }
}
.left-col > ul > li {
    padding-top: 0.5rem;
}
.left-col ul > li > a {
    display: block;
    width: 100%;
    &:hover {
        background: #e8e8ff;
    }
    &.active {
        background: #e6e6ff;
        text-decoration: underline;
    }
}
@media only screen and (min-width: 576px) {
    .left-col {
        position: fixed;
    }
}
