@font-face {
    font-family: 'courier_new';
    src: url('/_fonts/courier_new.woff2') format('woff2'),
         url('/_fonts/courier_new.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
