Source: libkc3
Section: utils
Priority: optional
Maintainer: kmx.io <contact@kmx.io>
Build-Depends: debhelper-compat (= 13), gcc, make, pkg-config, clang, libtool-bin, ruby, time
Standards-Version: 4.6.0
Homepage: https://kc3-lang.org/

Package: libkc3
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libgtk-3-dev, libffi-dev, libbsd-dev, libevent-dev, libglew-dev, libfreetype6-dev, libsdl2-dev, libxkbcommon-x11-dev
Description: The KC3 programming language
 Kmx.io C11 with a triple store programming language. KC3 is both a
 C runtime, a programming language, and a graph database. It features
 an Elixir-like syntax and pattern matching, Common-Lisp style macros,
 and provides with real-world tools to reimplement any complex program
 from a high-level language into using just C for performances.
