.flash-error {
    color: #d00;
    border: solid 2px;
    padding: 1em;
    margin: 0.75em 0;
}

.flash-warning {
    color: #c50;
    border: solid 2px;
    padding: 1em;
    margin: 0.75em 0;
}

.flash-info {
    color: #05c;
    border: solid 2px;
    padding: 1em;
    margin: 0.75em 0;
}
