$kmx-black:   #1e1f1d;
$kmx-blue:    #5a60f9;
$kmx-blue1:   #6f72f9;
$kmx-blue2:   #9c99fd;
$kmx-cyan:    #d4f3f6;
$kmx-green:   #c4ed3a;
$kmx-orange:  #f8681c;
$kmx-orange1: #fa7734;
$kmx-orange2: #ffa532;
$kmx-pink:    #fc9ef9;
$kmx-white:   #f5f8f4;
$kmx-white1:  #fff9f2;
$kmx-white2:  #ffffff;
$kmx-yellow:  #ecfe49;
$kmx-yellow1: #fff43e;
